/*------------------------------------*\
  Base.............Reset
\*------------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: .2px;
}

h1, .h1 {
  font-weight: 800;
  line-height: 80px;
}

h2, .h2 {
  font-weight: 700;
  line-height: 57px;
}

h3, .h3 {
  font-weight: 700;
  line-height: 32px;
}

h4, .h4 {
  font-weight: 500;
  line-height: 30px;
}

h5, .h5 {
  font-weight: 700;
  line-height: 24px;
}

h6, .h6 {
  font-weight: 600;
  line-height: 24px;
}


// SVGs
svg { fill: $cc }
// SVGs

// Link
a {
  transition: $transition-base;
  font-weight: 600;

  @include hover {
    text-decoration: none;
  }

  article & { text-decoration: underline; }
}
// Link

.btn {
  // font-size: 14px $i;
  font-weight: 600 $i;
  display: inline-flex $i;
  align-items: center;
}

.container {
  @include media('screen', '<=1024px') {
    max-width: 100%;
  }
}
