/*------------------------------------*\
  Layouts................Header
\*------------------------------------*/

.o-visual-header {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  
  min-height: 400px;

  &::after {
    content: "";
    display: block;
    @include square(100%);
    background-color: rgba($black, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__img {
    height: 100%;
    @include centerer(top);
    top: 4px;
    z-index: -2;
  }

  @include media('screen', '>medium') {
    &__img {
      width: 100%;
      height: auto;
    }
  }
}


// 
// MOBILE
// 
// @include media('screen', '<medium') {}

// 
// DESKTOP
// 
// @include media('screen', '>=small') {}

// @include media('screen', '>medium') {}
