/*------------------------------------*\
  Components................Banner
\*------------------------------------*/

.c-banner {
  text-align: center;
  max-width: 700px;
  padding: 0 4rem;
  margin: 5rem auto;

  &__desc { display: block; }

  &__tit, 
  &__desc { margin-bottom: 2rem; }

  &__actions .btn { margin: .5rem 0; }
  
  @include media('screen', '>medium') {
    &__tit {
      font-size: $h1-font-size;
      font-weight: 800;
      line-height: 80px;
    }

    &__actions .btn { margin: 0 .5rem; }
  }
}