/*------------------------------------*\
  Components................Highlights
\*------------------------------------*/

.c-highlights {
  padding: 2rem;

  > * { margin-bottom: 0.5rem; }

  // &__tit {}

  &__desc {
    font-style: normal;
    font-weight: 500;
  }

  @include media('screen', '<=medium') {
    margin-bottom: 2rem;
  }
}

// 
// MOBILE
// 
@include media('screen', '<=medium') {
  .o-highlights {
    padding: 0 2rem;
  }
}

// 
// DESKTOP
// 
@include media('screen', '>medium') {
  .o-highlights::before {
    content: "";
    display: block;
    @include square(100%, 150px);
    background-color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .c-highlights {
    padding: 2rem;
    margin-bottom: 0;
  }
}
