/*------------------------------------*\
  Components................Navigation
\*------------------------------------*/

// 
// MOBILE
// 
@include media('screen', '<medium') {
  .o-visual-header >:first-child { background-color: $white; } 
  .o-visual-header >:first-child a { color: $dark $i; } 
  .o-visual-header >:first-child .navbar-nav { text-align: center; }
  .o-visual-header >:first-child .navbar-text { display: none $i; }
}