/*------------------------------------*\
  Components................Share
\*------------------------------------*/

// .c-share {
//   display: flex;
  
//   &--title {
//     margin-right: auto;
//     opacity: .75;
//   }

//   &__link {
//     color: var(--cl-secondary);

//     @include hover {
//       color: var(--cl-primary);
//     }
//   }
  
//   &__item {

//     &:not(:first-child) { margin-left: var(--sp-twelve); }
//   }
// }