
// Helpers
$i:           !important;
$t:           transparent;
$n:           none;
$in:          initial;
$ih:          inherit;
$cc:          currentColor;
$imgPath:     '../images';

$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 992px,
  mindesktop: 1024px,
  large: 1200px, 
  xlarge: 1440px
);

// $grad-blue: linear-gradient(90deg, #0f82e6 0%, #0e6ec1 47.36%);


//
// Bootstrap replace
// Replace styles 
// 

// Color system

// $gray-100: #f9f9fa;
// $gray-200: #eeeef1;
// $gray-300: #d7d7db;
// $gray-400: #b2b2b3;
// $gray-500: #737373;
// $gray-600: #4a4a4f;
// $gray-700: #38383d;
// $gray-800: #29292e;
// $gray-900: #0c0c0d;
// $black:    #1C1C21;

$blue: #23A6F0;

$primary:       $blue;
// $primary-dark:  #3F2D23;
// $secondary:     $blue;
$success:       #2DC071;
$info:          #0a85ff;
$warning:       #d66f00;
$danger:        #d60020;
$gray-default:  #737373;
$light:         #fafafa;
$dark:          #252B42;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    // "primary-dark": $primary-dark,
    // "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "gray-default": $gray-default,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Body
//
// Settings for the `<body>` element.

// $body-bg:       #fff;
$body-color:    $dark;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $dark;
$yiq-text-light:            $light;

// Typography

$montserrat: 'Montserrat', Tahoma, 'DejaVu Sans', sans-serif;
$font-family-base: $montserrat;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-weight-bolder: 700;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);

$input-height: 45px;
// $input-border-color: $gray-300;

$pagination-border-color: rgba(0,0,0, .07);
// $pagination-hover-bg: $gray-100;

$badge-font-size: 12px;
$badge-font-weight: 600;
$badge-padding-y: 6px;
$badge-padding-x: 8px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Montserrat", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base:            $font-family-sans-serif;


$h1-font-size: 58px;
$h2-font-size: 40px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 16px;
$h6-font-size: 14px;